<mat-toolbar class="topnav">

  <div class="header-left">
    <img src='../../../../assets/images/cdz-logo-base-black.png' class="logo-cdz">
  </div>

  <div class="header-middle">
    <!-- <button color="primary" class="blog">Blog</button> -->
    <a href="/blog"><span>Blog</span></a>
    <a href="/blog"><span>Videos</span></a>
    <a href="/blog"><span>Receitas</span></a>
    <a href="/blog"><span>Aprenda a cozinhar</span></a>
    <a href="/blog"><span>Contato</span></a>
  </div>

  <div class="header-right">

    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
  </div>

</mat-toolbar>
