$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$primary: #962ADC;
$nav-text: #43413f;

.docs-navbar-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.docs-navbar,
.docs-navbar-show-medium {
  display: none;
}

.docs-navbar,
.docs-navbar-show-small {
  display: none;
}

.docs-navbar,
.docs-navbar-header {
  background: #3f51b5;
}

.header-left {
  display: flex;
  justify-content: left;
}

.header-middle {
  display: flex;
  justify-content: center;
}

.header-right {
  display: flex;
  justify-content: right;
}

.logo-cdz {
  height: 50px;
}

a {

  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: nav-text;
  position: relative;
  text-decoration: none;
  margin: 0px 14px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $primary;
  }

  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }

  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }

  &:hover,
  &:focus {

    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }

    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }

    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}

@media (max-width: 795px) {

  .docs-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .docs-navbar-show-medium {
    background: #3f51b5;
    padding: 8px 16px;
  }

  .header-middle {
    display: none;
  }

  .docs-navbar-show-small {
    display: none;
  }
}

@media (max-width: 525px) {

  .docs-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .docs-navbar-show-small {
    background: #3f51b5;
    padding: 8px 16px;
  }

  .hide {
    display: none;
  }
}


