<nav class="docs-navbar-header">

  <div class="header-left">
    <img src='../../../../assets/images/cdz-logo-base-black.png' class="logo-cdz">
  </div>

  <div class="header-middle">
    <a href="/blog"><span>Blog</span></a>
    <a href="/blog"><span>Videos</span></a>
    <a href="/blog"><span>Receitas</span></a>
    <a href="/blog"><span>Aprenda a cozinhar</span></a>
    <a href="/blog"><span>Contato</span></a>
  </div>

  <div class="header-right">

    <button mat-button color="accent">Twitter</button>
    <button mat-button color="warn">Instagram</button>
  </div>

</nav>

<nav class="docs-navbar docs-navbar-show-medium">

  <a href="/blog" class="hide"><span>Blog</span></a>
  <a href="/blog" class="hide"><span>Videos</span></a>
  <a href="/blog" class="hide"><span>Receitas</span></a>
  <a href="/blog"><span>Aprenda a cozinhar</span></a>
  <a href="/blog"><span>Contato</span></a>


</nav>

<nav class="docs-navbar docs-navbar-show-small">


  <a href="/blog"><span>Blog</span></a>
  <a href="/blog"><span>Videos</span></a>
  <a href="/blog"><span>Receitas</span></a>

</nav>
