<div class="grid cdzBackground">
  <div class="row cdzContainer">
    <div class="cdzBody">
      <div class="cdzText">
        <h1 class="h1">Aprenda a cozinhar de verdade!</h1>
        <div class="textMedium cdzSubtitle">Somos uma equipe de cozinheiros apaixonados pela cozinha e a ciência por
          trás dela. Em nosso estúdio, abordamos a culinária com profundo conhecimento dos métodos tradicionais e com a
          mente aberta para a exploração. Estamos criando novas receitas, desenvolvendo novas técnicas e documentando
          tudo para ajudá-lo a aprender a cozinhar como nunca antes!
        </div>
      </div>
      <div class="ctaContainer">
        <button mat-flat-button class="button buttonWhite buttonLarge downloadButton twoButtons">
          Cadastrar-se
        </button>
        <button mat-flat-button class="button buttonDark buttonLarge openButton">
          Whatever
        </button>
      </div>
    </div>
  </div>
</div>
